:root {
	--color-white: hsl(0 0% 100%);
	--color-black: hsl(0 0% 0%);

	--color-gray-1: #fcfcfd;
	--color-gray-2: #f9f9fb;
	--color-gray-3: #f0f0f3;
	--color-gray-4: #e8e8ec;
	--color-gray-5: #e0e1e6;
	--color-gray-6: #d9d9e0;
	--color-gray-7: #cdced6;
	--color-gray-8: #b9bbc6;
	--color-gray-9: #8b8d98;
	--color-gray-10: #80838d;
	--color-gray-11: #60646c;
	--color-gray-12: #1c2024;
	--color-gray-a1: #00005503;
	--color-gray-a2: #00005506;
	--color-gray-a3: #0000330f;
	--color-gray-a4: #00002d17;
	--color-gray-a5: #0009321f;
	--color-gray-a6: #00002f26;
	--color-gray-a7: #00062e32;
	--color-gray-a8: #00083046;
	--color-gray-a9: #00051d74;
	--color-gray-a10: #00071b7f;
	--color-gray-a11: #0007149f;
	--color-gray-a12: #000509e3;

	--color-olive-1: #fcfdfc;
	--color-olive-2: #f8faf8;
	--color-olive-3: #eff1ef;
	--color-olive-4: #e7e9e7;
	--color-olive-5: #dfe2df;
	--color-olive-6: #d7dad7;
	--color-olive-7: #cccfcc;
	--color-olive-8: #b9bcb8;
	--color-olive-9: #898e87;
	--color-olive-10: #7f847d;
	--color-olive-11: #60655f;
	--color-olive-12: #1d211c;
	--color-olive-a1: #00550003;
	--color-olive-a2: #00490007;
	--color-olive-a3: #00200010;
	--color-olive-a4: #00160018;
	--color-olive-a5: #00180020;
	--color-olive-a6: #00140028;
	--color-olive-a7: #000f0033;
	--color-olive-a8: #040f0047;
	--color-olive-a9: #050f0078;
	--color-olive-a10: #040e0082;
	--color-olive-a11: #020a00a0;
	--color-olive-a12: #010600e3;

	--color-yellow-1: #fefdfb;
	--color-yellow-2: #fefbe9;
	--color-yellow-3: #fff7c2;
	--color-yellow-4: #ffee9c;
	--color-yellow-5: #fbe577;
	--color-yellow-6: #f3d673;
	--color-yellow-7: #e9c162;
	--color-yellow-8: #e2a336;
	--color-yellow-9: #ffc53d;
	--color-yellow-10: #ffba18;
	--color-yellow-11: #ab6400;
	--color-yellow-12: #4f3422;
	--color-yellow-a1: #c0800004;
	--color-yellow-a2: #f4d10016;
	--color-yellow-a3: #ffde003d;
	--color-yellow-a4: #ffd40063;
	--color-yellow-a5: #f8cf0088;
	--color-yellow-a6: #eab5008c;
	--color-yellow-a7: #dc9b009d;
	--color-yellow-a8: #da8a00c9;
	--color-yellow-a9: #ffb300c2;
	--color-yellow-a10: #ffb300e7;
	--color-yellow-a11: #ab6400;
	--color-yellow-a12: #341500dd;

	--color-blue-1: #fbfdff;
	--color-blue-2: #f4faff;
	--color-blue-3: #e6f4fe;
	--color-blue-4: #d5efff;
	--color-blue-5: #c2e5ff;
	--color-blue-6: #acd8fc;
	--color-blue-7: #8ec8f6;
	--color-blue-8: #5eb1ef;
	--color-blue-9: #0090ff;
	--color-blue-10: #0588f0;
	--color-blue-11: #0d74ce;
	--color-blue-12: #113264;
	--color-blue-a1: #0080ff04;
	--color-blue-a2: #008cff0b;
	--color-blue-a3: #008ff519;
	--color-blue-a4: #009eff2a;
	--color-blue-a5: #0093ff3d;
	--color-blue-a6: #0088f653;
	--color-blue-a7: #0083eb71;
	--color-blue-a8: #0084e6a1;
	--color-blue-a9: #0090ff;
	--color-blue-a10: #0086f0fa;
	--color-blue-a11: #006dcbf2;
	--color-blue-a12: #002359ee;

	--color-brown-1: #fefdfc;
	--color-brown-2: #fcf9f6;
	--color-brown-3: #f6eee7;
	--color-brown-4: #f0e4d9;
	--color-brown-5: #ebdaca;
	--color-brown-6: #e4cdb7;
	--color-brown-7: #dcbc9f;
	--color-brown-8: #cea37e;
	--color-brown-9: #ad7f58;
	--color-brown-10: #a07553;
	--color-brown-11: #815e46;
	--color-brown-12: #3e332e;
	--color-brown-a1: #aa550003;
	--color-brown-a2: #aa550009;
	--color-brown-a3: #a04b0018;
	--color-brown-a4: #9b4a0026;
	--color-brown-a5: #9f4d0035;
	--color-brown-a6: #a04e0048;
	--color-brown-a7: #a34e0060;
	--color-brown-a8: #9f4a0081;
	--color-brown-a9: #823c00a7;
	--color-brown-a10: #723300ac;
	--color-brown-a11: #522100b9;
	--color-brown-a12: #140600d1;

	--color-green-1: #fbfefb;
	--color-green-2: #f5fbf5;
	--color-green-3: #e9f6e9;
	--color-green-4: #daf1db;
	--color-green-5: #c9e8ca;
	--color-green-6: #b2ddb5;
	--color-green-7: #94ce9a;
	--color-green-8: #65ba74;
	--color-green-9: #46a758;
	--color-green-10: #3e9b4f;
	--color-green-11: #2a7e3b;
	--color-green-12: #203c25;
	--color-green-a1: #00c00004;
	--color-green-a2: #0099000a;
	--color-green-a3: #00970016;
	--color-green-a4: #009f0725;
	--color-green-a5: #00930536;
	--color-green-a6: #008f0a4d;
	--color-green-a7: #018b0f6b;
	--color-green-a8: #008d199a;
	--color-green-a9: #008619b9;
	--color-green-a10: #007b17c1;
	--color-green-a11: #006514d5;
	--color-green-a12: #002006df;

	--color-purple-1: #fefcfe;
	--color-purple-2: #fbf7fe;
	--color-purple-3: #f7edfe;
	--color-purple-4: #f2e2fc;
	--color-purple-5: #ead5f9;
	--color-purple-6: #e0c4f4;
	--color-purple-7: #d1afec;
	--color-purple-8: #be93e4;
	--color-purple-9: #8e4ec6;
	--color-purple-10: #8347b9;
	--color-purple-11: #8145b5;
	--color-purple-12: #402060;
	--color-purple-a1: #aa00aa03;
	--color-purple-a2: #8000e008;
	--color-purple-a3: #8e00f112;
	--color-purple-a4: #8d00e51d;
	--color-purple-a5: #8000db2a;
	--color-purple-a6: #7a01d03b;
	--color-purple-a7: #6d00c350;
	--color-purple-a8: #6600c06c;
	--color-purple-a9: #5c00adb1;
	--color-purple-a10: #53009eb8;
	--color-purple-a11: #52009aba;
	--color-purple-a12: #250049df;

	--color-red-1: #fffcfc;
	--color-red-2: #fff7f7;
	--color-red-3: #feebec;
	--color-red-4: #ffdbdc;
	--color-red-5: #ffcdce;
	--color-red-6: #fdbdbe;
	--color-red-7: #f4a9aa;
	--color-red-8: #eb8e90;
	--color-red-9: #e5484d;
	--color-red-10: #dc3e42;
	--color-red-11: #ce2c31;
	--color-red-12: #641723;
	--color-red-a1: #ff000003;
	--color-red-a2: #ff000008;
	--color-red-a3: #f3000d14;
	--color-red-a4: #ff000824;
	--color-red-a5: #ff000632;
	--color-red-a6: #f8000442;
	--color-red-a7: #df000356;
	--color-red-a8: #d2000571;
	--color-red-a9: #db0007b7;
	--color-red-a10: #d10005c1;
	--color-red-a11: #c40006d3;
	--color-red-a12: #55000de8;
}

.dark {
	--color-gray-1: #111113;
	--color-gray-2: #18191b;
	--color-gray-3: #212225;
	--color-gray-4: #272a2d;
	--color-gray-5: #2e3135;
	--color-gray-6: #363a3f;
	--color-gray-7: #43484e;
	--color-gray-8: #5a6169;
	--color-gray-9: #696e77;
	--color-gray-10: #777b84;
	--color-gray-11: #b0b4ba;
	--color-gray-12: #edeef0;
	--color-gray-a1: #0000;
	--color-gray-a2: #d8f4f609;
	--color-gray-a3: #ddeaf814;
	--color-gray-a4: #d3edf81d;
	--color-gray-a5: #d9edfe25;
	--color-gray-a6: #d6ebfd30;
	--color-gray-a7: #d9edff40;
	--color-gray-a8: #d9edff5d;
	--color-gray-a9: #dfebfd6d;
	--color-gray-a10: #e5edfd7b;
	--color-gray-a11: #f1f7feb5;
	--color-gray-a12: #fcfdffef;

	--color-olive-1: #111210;
	--color-olive-2: #181917;
	--color-olive-3: #212220;
	--color-olive-4: #282a27;
	--color-olive-5: #2f312e;
	--color-olive-6: #383a36;
	--color-olive-7: #454843;
	--color-olive-8: #5c625b;
	--color-olive-9: #687066;
	--color-olive-10: #767d74;
	--color-olive-11: #afb5ad;
	--color-olive-12: #eceeec;
	--color-olive-a1: #0000;
	--color-olive-a2: #f1f2f008;
	--color-olive-a3: #f4f5f312;
	--color-olive-a4: #f3fef21a;
	--color-olive-a5: #f2fbf122;
	--color-olive-a6: #f4faed2c;
	--color-olive-a7: #f2fced3b;
	--color-olive-a8: #edfdeb57;
	--color-olive-a9: #ebfde766;
	--color-olive-a10: #f0fdec74;
	--color-olive-a11: #f6fef4b0;
	--color-olive-a12: #fdfffded;

	--color-yellow-1: #16120c;
	--color-yellow-2: #1d180f;
	--color-yellow-3: #302008;
	--color-yellow-4: #3f2700;
	--color-yellow-5: #4d3000;
	--color-yellow-6: #5c3d05;
	--color-yellow-7: #714f19;
	--color-yellow-8: #8f6424;
	--color-yellow-9: #ffc53d;
	--color-yellow-10: #ffd60a;
	--color-yellow-11: #ffca16;
	--color-yellow-12: #ffe7b3;
	--color-yellow-a1: #e63c0006;
	--color-yellow-a2: #fd9b000d;
	--color-yellow-a3: #fa820022;
	--color-yellow-a4: #fc820032;
	--color-yellow-a5: #fd8b0041;
	--color-yellow-a6: #fd9b0051;
	--color-yellow-a7: #ffab2567;
	--color-yellow-a8: #ffae3587;
	--color-yellow-a9: #ffc53d;
	--color-yellow-a10: #ffd60a;
	--color-yellow-a11: #ffca16;
	--color-yellow-a12: #ffe7b3;

	--color-blue-1: #0d1520;
	--color-blue-2: #111927;
	--color-blue-3: #0d2847;
	--color-blue-4: #003362;
	--color-blue-5: #004074;
	--color-blue-6: #104d87;
	--color-blue-7: #205d9e;
	--color-blue-8: #2870bd;
	--color-blue-9: #0090ff;
	--color-blue-10: #3b9eff;
	--color-blue-11: #70b8ff;
	--color-blue-12: #c2e6ff;
	--color-blue-a1: #004df211;
	--color-blue-a2: #1166fb18;
	--color-blue-a3: #0077ff3a;
	--color-blue-a4: #0075ff57;
	--color-blue-a5: #0081fd6b;
	--color-blue-a6: #0f89fd7f;
	--color-blue-a7: #2a91fe98;
	--color-blue-a8: #3094feb9;
	--color-blue-a9: #0090ff;
	--color-blue-a10: #3b9eff;
	--color-blue-a11: #70b8ff;
	--color-blue-a12: #c2e6ff;

	--color-brown-1: #12110f;
	--color-brown-2: #1c1816;
	--color-brown-3: #28211d;
	--color-brown-4: #322922;
	--color-brown-5: #3e3128;
	--color-brown-6: #4d3c2f;
	--color-brown-7: #614a39;
	--color-brown-8: #7c5f46;
	--color-brown-9: #ad7f58;
	--color-brown-10: #b88c67;
	--color-brown-11: #dbb594;
	--color-brown-12: #f2e1ca;
	--color-brown-a1: #91110002;
	--color-brown-a2: #fba67c0c;
	--color-brown-a3: #fcb58c19;
	--color-brown-a4: #fbbb8a24;
	--color-brown-a5: #fcb88931;
	--color-brown-a6: #fdba8741;
	--color-brown-a7: #ffbb8856;
	--color-brown-a8: #ffbe8773;
	--color-brown-a9: #feb87da8;
	--color-brown-a10: #ffc18cb3;
	--color-brown-a11: #fed1aad9;
	--color-brown-a12: #feecd4f2;

	--color-green-1: #0e1511;
	--color-green-2: #141a15;
	--color-green-3: #1b2a1e;
	--color-green-4: #1d3a24;
	--color-green-5: #25482d;
	--color-green-6: #2d5736;
	--color-green-7: #366740;
	--color-green-8: #3e7949;
	--color-green-9: #46a758;
	--color-green-10: #53b365;
	--color-green-11: #71d083;
	--color-green-12: #c2f0c2;
	--color-green-a1: #00de1205;
	--color-green-a2: #5ef7780a;
	--color-green-a3: #70fe8c1b;
	--color-green-a4: #57ff802c;
	--color-green-a5: #68ff8b3b;
	--color-green-a6: #71ff8f4b;
	--color-green-a7: #77fd925d;
	--color-green-a8: #77fd9070;
	--color-green-a9: #65ff82a1;
	--color-green-a10: #72ff8dae;
	--color-green-a11: #89ff9fcd;
	--color-green-a12: #ceffceef;

	--color-pink-1: #191117;
	--color-pink-2: #21121d;
	--color-pink-3: #37172f;
	--color-pink-4: #4b143d;
	--color-pink-5: #591c47;
	--color-pink-6: #692955;
	--color-pink-7: #833869;
	--color-pink-8: #a84885;
	--color-pink-9: #d6409f;
	--color-pink-10: #de51a8;
	--color-pink-11: #ff8dcc;
	--color-pink-12: #fdd1ea;
	--color-pink-a1: #f412bc09;
	--color-pink-a2: #f420bb12;
	--color-pink-a3: #fe37cc29;
	--color-pink-a4: #fc1ec43f;
	--color-pink-a5: #fd35c24e;
	--color-pink-a6: #fd51c75f;
	--color-pink-a7: #fd62c87b;
	--color-pink-a8: #ff68c8a2;
	--color-pink-a9: #fe49bcd4;
	--color-pink-a10: #ff5cc0dc;
	--color-pink-a11: #ff8dcc;
	--color-pink-a12: #ffd3ecfd;

	--color-purple-1: #18111b;
	--color-purple-2: #1e1523;
	--color-purple-3: #301c3b;
	--color-purple-4: #3d224e;
	--color-purple-5: #48295c;
	--color-purple-6: #54346b;
	--color-purple-7: #664282;
	--color-purple-8: #8457aa;
	--color-purple-9: #8e4ec6;
	--color-purple-10: #9a5cd0;
	--color-purple-11: #d19dff;
	--color-purple-12: #ecd9fa;
	--color-purple-a1: #b412f90b;
	--color-purple-a2: #b744f714;
	--color-purple-a3: #c150ff2d;
	--color-purple-a4: #bb53fd42;
	--color-purple-a5: #be5cfd51;
	--color-purple-a6: #c16dfd61;
	--color-purple-a7: #c378fd7a;
	--color-purple-a8: #c47effa4;
	--color-purple-a9: #b661ffc2;
	--color-purple-a10: #bc6fffcd;
	--color-purple-a11: #d19dff;
	--color-purple-a12: #f1ddfffa;

	--color-red-1: #191111;
	--color-red-2: #201314;
	--color-red-3: #3b1219;
	--color-red-4: #500f1c;
	--color-red-5: #611623;
	--color-red-6: #72232d;
	--color-red-7: #8c333a;
	--color-red-8: #b54548;
	--color-red-9: #e5484d;
	--color-red-10: #ec5d5e;
	--color-red-11: #ff9592;
	--color-red-12: #ffd1d9;
	--color-red-a1: #f4121209;
	--color-red-a2: #f22f3e11;
	--color-red-a3: #ff173f2d;
	--color-red-a4: #fe0a3b44;
	--color-red-a5: #ff204756;
	--color-red-a6: #ff3e5668;
	--color-red-a7: #ff536184;
	--color-red-a8: #ff5d61b0;
	--color-red-a9: #fe4e54e4;
	--color-red-a10: #ff6465eb;
	--color-red-a11: #ff9592;
	--color-red-a12: #ffd1d9;
}
