@layer defs, resets, base, routes, components, utils;

@import url("./styles/fonts.css") layer(defs);
@import url("./styles/colors.css") layer(defs);
@import url("./styles/resets.css") layer(resets);
@import url("./styles/base.css") layer(base);
@import url("./styles/utils.css") layer(utils);

@import url("./lib/button.css") layer(components.button);
@import url("./lib/calendar-popper.css") layer(components.calendarPopper);
@import url("./lib/heading.css") layer(components.heading);
@import url("./lib/hero.css") layer(components.hero);
@import url("./lib/nav-dialog.css") layer(components.navDialog);
@import url("./lib/site-header.css") layer(components.siteHeader);

@layer routes.root {
	.rte-Root-ErrorBoundary {
		block-size: 100%;
		inline-size: 100%;
		display: flex;
		flex-direction: column;
	}

	.rte-Root-ErrorBoundary__header {
		flex: 0 0 auto;
		inline-size: calc(100% - var(--space-gutter) * 2);
	}

	.rte-Root-ErrorBoundary__main {
		text-align: center;
		flex: 1 1 100%;
		inline-size: 100%;
	}
}
